/* A placeholder for while images are loading. It has the same height of badges.
 * List from `marky-markdown (http://git.io/vEzmx) `*/
.markdown-body img[data-canonical-src*="badge.fury.io"],
.markdown-body img[data-canonical-src*="badges.github.io"],
.markdown-body img[data-canonical-src*="badges.gitter.im"],
.markdown-body img[data-canonical-src*="ci.testling.com"],
.markdown-body img[data-canonical-src*="coveralls.io"],
.markdown-body img[data-canonical-src*="david-dm.org"],
.markdown-body img[data-canonical-src*="img.shields.io"],
.markdown-body img[data-canonical-src*="nodei.co"],
.markdown-body img[data-canonical-src*="saucelabs.com"],
.markdown-body img[data-canonical-src*="secure.travis-ci.org"],
.markdown-body img[data-canonical-src*="travis-ci.org"] {
  background: config("colors.grey-lightest");
  min-height: 20px;
  min-width: 20px;
}

.markdown-body img {
  opacity: 0.3;
  filter: grayscale(0.9);
}

/* Firefox supports the -webkit prefix too, but this
 * targets Firefox only. We disable the filter as it
 * degrades the performance in lists with many images */
@supports (-moz-appearance: none) {
  .markdown-body img {
    filter: none;
  }
}

.markdown-body img:hover,
.markdown-body img:focus,
.markdown-body img:active {
  opacity: 1;
  filter: none;
  transition: opacity 200ms;
}

/* Other aesthetic changes */

.markdown-body .anchor {
  margin-left: -1.5rem;
  outline: none !important;
}

.markdown-body {
  color: inherit;
  font-family: inherit;
}

.markdown-body a:hover {
  text-decoration: none;
}

.markdown-body a:visited {
  color: #5661b3;
}

.markdown-body a[href^="#"] {
  color: #38a89d;
}

.markdown-body ul {
  list-style-type: none;
  padding-left: 1.2em;
}

.markdown-body ul li:before {
  float: left;
  margin: 0 0 0 -1.1em;
  width: 1.1em;
  content: "-";
  color: #0366d6;
}

.markdown-body img {
  border-radius: 3px;
}

.markdown-body h1 {
  font-size: 2.2em;
}

.markdown-body h2 {
  font-size: 1.75em;
}

.markdown-body h3 {
  font-size: 1.4em;
}

.markdown-body h4 {
  font-size: 1.25em;
}

.markdown-body h5,
.markdown-body h6 {
  font-size: 1.1em;
}

.markdown-body table th,
.markdown-body table td {
  border-color: config("colors.grey-light");
}

.markdown-body hr {
  background-color: config("colors.grey-light");
}

.markdown-body .highlight pre,
.markdown-body pre,
.markdown-body table tr:nth-child(2n) {
  background-color: config("colors.grey-lightest");
}

.markdown-body h6,
.markdown-body blockquote {
  color: config("colors.grey-darker");
}
