.Jungle {
  padding-top: 60px;
  overflow-x: hidden;
  position: relative;
}

.Jungle-leaf {
  display: block;
  position: absolute;
  top: -80px;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.Jungle-leaf--left {
  left: -180px;
}

.Jungle-leaf--right {
  right: -130px;
  text-align: right;
}

@media (min-width: 576px) {
  .Jungle {
    padding-top: 120px;
  }

  .Jungle-leaf {
    top: -20px;
  }

  .Jungle-leaf--left {
    left: -140px;
  }
}

@media (min-width: 992px) {
  .Jungle {
    padding-top: 150px;
  }

  .Jungle-leaf--right {
    right: -50px;
  }
}

@media (min-width: 1200px) {
  .Jungle {
    padding-top: 180px;
  }

  .Jungle-leaf {
    top: 0;
  }

  .Jungle-leaf--left {
    left: 0;
  }

  .Jungle-leaf--right {
    right: 0;
  }
}
