.ListSidebar ul {
  list-style: none;
  padding: 0;
}

.ListSidebar li {
  margin-bottom: 0.5rem;
}

.ListSidebar a {
  color: #444;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ListSidebar ul > li > p,
.ListSidebar ul > li > p > a,
.ListSidebar ul > li > a {
  font-size: .875rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #888;
}

.ListSidebar ul > li > p {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

.ListSidebar ul > li > ul {
  margin-bottom: 1.5rem;
}

.ListSidebar ul > li > ul > li > p,
.ListSidebar ul > li > ul > li > p > a,
.ListSidebar ul > li > ul > li > a {
  font-size: 1rem;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-transform: none;
  color: #444;
}

.ListSidebar ul > li > ul > li > ul {
  padding-left: 1rem;
  margin-bottom: 0;
}
