/* A placeholder for while images are loading. It has the same height of badges.
 * List from `marky-markdown (http://git.io/vEzmx) `*/
img[data-canonical-src*='badge.fury.io'],
img[data-canonical-src*='badges.github.io'],
img[data-canonical-src*='badges.gitter.im'],
img[data-canonical-src*='ci.testling.com'],
img[data-canonical-src*='coveralls.io'],
img[data-canonical-src*='david-dm.org'],
img[data-canonical-src*='img.shields.io'],
img[data-canonical-src*='nodei.co'],
img[data-canonical-src*='saucelabs.com'],
img[data-canonical-src*='secure.travis-ci.org'],
img[data-canonical-src*='travis-ci.org'] {
  background: #f7f7f7;
  min-height: 20px;
  min-width: 20px;
}

/* Other aesthetic changes */

.markdown-body .anchor {
  margin-left: -1.5rem;
  outline: none !important;
}

.markdown-body {
  color: inherit;
  font-family: inherit;
}

.markdown-body a:hover {
  text-decoration: none;
}

.markdown-body a:visited {
  color: #5661b3;
}

.markdown-body a[href^="#"] {
  color: #38a89d;
}

.markdown-body ul {
  list-style-type: none;
  padding-left: 1.2em;
}

.markdown-body ul li:before {
  float: left;
  margin: 0 0 0 -1.1em;
  width: 1.1em;
  content: '-';
  color: #0366d6;
}

.markdown-body img {
  border-radius: 3px;
}

.markdown-body h1 {
  font-size: 2.2em;
}

.markdown-body h2 {
  font-size: 1.75em;
}

.markdown-body h3 {
  font-size: 1.4em;
}

.markdown-body h4 {
  font-size: 1.25em;
}

.markdown-body h5,
.markdown-body h6 {
  font-size: 1.1em;
}

.markdown-body table th,
.markdown-body table td {
  border-color: #e6e6e6;
}

.markdown-body hr {
  background-color: #e6e6e6;
}

.markdown-body .highlight pre,
.markdown-body pre,
.markdown-body table tr:nth-child(2n) {
  background-color: #f7f7f7;
}

.markdown-body h6,
.markdown-body blockquote {
  color: #666666;
}
