.ListSidebar ul {
  list-style: none;
  padding: 0;
}

.ListSidebar li,
.ListSidebar p {
  margin-bottom: 0.5rem;
}

.ListSidebar a {
  color: #444;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ListSidebar ul {
  font-weight: bold;
}

.ListSidebar ul ul {
  font-weight: normal;
}

.ListSidebar ul > li > ul > li > ul {
  padding-left: 1rem;
}
